DEFUNCT/
root/
root_v6.36.04.Linux-ubuntu22.04-x86_64-gcc11.4.tar.gz
.bash_history
.bash_logout
.bashrc
.cache/
.dotnet/
.gitconfig
#.gitignore
#.gitignore.swp
.ipython/
.landscape/
.lesshst
.local/
.motd_shown
.profile
.python_history
.root_hist
.rootnb/
.sudo_as_admin_successful
.viminfo
.vscode-remote-containers/
.vscode-server/
.wget-hsts
misctext.txt
runNtuple.sh